/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */
/*selector (element, tag) {
  property: value;
    fonts
    color of text
    line height {padding, }
    others (check documentation)
}*/

/*
Setting type to major second modular scale
http://www.modularscale.com/?16&px&1.125&web&text
*/
html {
  font-size: 1em;  /* 16px */
  line-height: 1.5em;  /* 24px  */
  background-color: #003300;
  color: #996633; /* #CC6600; */
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Andika, Sansita,  Tahoma, Verdana, Segoe, sans-serif;
}

main {
  margin: 1.0em;
}

label {
  align-items: center;
}

#river-image img {
  height: auto;
}

#headlines {
  display: block;
  list-style-type: none;
  text-align: center;
  font-size: 1.5em; /* 24px = 2.5 * 16px */
  line-height: 1.5em; /* 36px = 24px * 1.5 */
}

.headline-4 {
  font-size: .75em;
  font-weight: lighter;
}
.headline-5 {
  font-size: 1.0em; /* 18px = 24px * .75 */
  font-weight: bold;
  margin-bottom: 1em;
}

/*  Form base styles */

label,
input {

  box-sizing: border-box;
  width: 100%;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  text-align: center;
}

input {
  background-color: #99CC99;
  color: #003300;
  border: 0;
  padding: 1.0em;
  border-radius: 0.5em;
}

li[id^="input"] {
  margin-bottom: 1em;
}

/* end of form base styles */

#dates {
  text-align: center;
  font-weight: bold;
}

#days {
  font-size: 1.25em;
}


/*river description styling*/

.river-sections {
  display: block;
}

.day,
.river-name,
.river-location {
  font-weight: bold;
}

.river-info,
.day {
  display: block;
  margin-top: 1em;
}

.river-definition {
  clear: left;
}


.river-definition:hover {
  color: #CC9966;
}

.day,
.river-name,
.river-definition {
  float: left;
  margin-right: 1em;
  margin-top: 0.5em;
}

.for-background {
  display: none;
}

.river-description {
  /*display: none;*/
  margin-top: 0.75em;
  color:  #CC9966; /*#9999CC;  #D47D00; */
  margin-left: 1em;
}

.river-location,
.river-description {
  clear: both;
}

.river-link {
  margin-top: 1.0em;
  align-content: left;
}

.river-link {
  text-decoration-color: yellow;

}

.citation {
  clear: both;
  margin-top: 2em;
  font-size: .75em;
  font-weight: lighter;
}

a:link {
  color: #DB9400;
}
a:visited {
  color: #DB9400;
}


/* ===== Responsive Media ====*/
/*img, audio, video {*/
/*  display: block;
  border: 20em;
  padding: 1em; /* 36px */
/*max-width: 15%;*/
/*}*/




/* ===== LAYOUT STYLES ===== */
/* Horizontal Layout #id selectors
    display, ex float; clear; position; right, left; top, bottom;
    margins, padding*/


/* ===== MODULAR STYLES ===== */
/* examples: rounded corners, red background, shadow, usually class selectors */
/*form li {
  margin-bottom: 1em;
}*/


/* ===== STATE STYLES ===== */
/* media queries, state ex. nojs (has is (isActive, Inactive)) */


/* 450 @ 16px/em (28.125em) */
@media screen and (min-width: 28.125em) {

  #headlines {
    font-size: 1.5em; /* 24px = 2.5 * 16px */
    line-height: 1.5em; /* 36px = 24px * 1.5 */
  }

  label,
  input {
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
  }

}

/* 600 @ 16px/em (37.5em) */
@media screen and (min-width: 37.5em) {
  #river-sections {
    margin-right: 10%;
    margin-left: 10%;
  }
}

/* 750 @ 16px/em (46.875em) */
@media screen and (min-width: 46.875em) {
  #river-sections {
    margin-right: 10%;
    margin-left: 10%;
  }
}

/* 800 @ 16px/em (50em) */
@media screen and (min-width: 50em) {
  #river-sections {
    margin-right: 12.5%;
    margin-left: 12.5%;
  }
}

/* 900 @ 16px/em (56.25em) */
@media screen and (min-width: 56.25em) {
  #river-sections {
    margin-right: 16.666667%;
    margin-left: 16.666667%;
  }
}

/* 1000 @ 16px/em (62.5em) */
@media screen and (min-width: 62.5em) {

  label,
  input {
    border-right: 30%;
    border-left: 30%;

  }

  /*#headlines {*/
    /*font-size: 1.5em;*/ /* 24px = 2.5 * 16px */
    /*line-height: 1.5em; *//* 36px = 24px * 1.5 */
  /*}*/

  #river-sections {
    margin-right: 20%;
    margin-left: 20%;
}

/* 1100 @ 16px/em (68.75em) */
@media screen and (min-width: 68.75em) {
  #river-sections {
    margin-right: 22.727273%;
    margin-left: 22.727273%;
  }
}

/* 1200 @ 16px/em (75em) */
@media screen and (min-width: 75em) {
  #river-sections {
    margin-right: 25%;
    margin-left: 25%;
  }
}

/* 1300 @ 16px/em (81.25em) */
@media screen and (min-width: 81.25em) {
  #river-sections {
    margin-right: 26.92308%;
    margin-left: 26.92308%;
  }
}

/* 1400 @ 16px/em (87.5em) */
@media screen and (min-width: 87.5em) {
  #river-sections {
    margin-right: 28.57143%;
    margin-left: 28.57143%;
  }
}

/* 1500 @ 16px/em (93.75em) */
@media screen and (min-width: 93.75em) {
  #river-sections {
    margin-right: 30%;
    margin-left: 30%;
  }
}

/* 1600 @ 16px/em (100em) */
@media screen and (min-width: 100em) {
  #river-sections {
    margin-right: 31.25%;
    margin-left: 31.25%;
  }
}

/* 1700 @ 16px/em (106.25em) */
@media screen and (min-width: 106.25em) {
  #river-sections {
    margin-right: 32.35294%;
    margin-left: 32.35294%;
  }
}

/* 1800 @ 16px/em (112.5em) */
@media screen and (min-width: 112.5em) {
  #river-sections {
    margin-right: 33.33333%;
    margin-left: 33.33333%;
  }
}

/* 1900 @ 16px/em (118.75em) */
@media screen and (min-width: 118.75em) {
  #river-sections {
    margin-right: 34.21053%;
    margin-left: 34.21053%;
  }
}