/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */
/*selector (element, tag) {
  property: value;
    fonts
    color of text
    line height {padding, }
    others (check documentation)
}*/

/*
Setting type to major second modular scale
http://www.modularscale.com/?18&px&1.125&web&text
*/
html {
  font-size: 1.125em;  /* 18px */
  line-height: 1.22222em;  /* 21.6px  */
  background-color: #003300;
  color: #CC6600;
}

body {
  font-family: Laksaman, Dosis, "Josefin Sans", sans-serif;
}

#river-image img {
  height: auto;
}

li[id^="input"] {
  margin-bottom: 1em;
}

#dates {
  text-align: center;
}

#headlines {
  display: block;
  list-style-type: none;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2em;
}


/*river description styling*/
.river-info,
.day {
  display: block;
  margin-top: 1em;
}
.river-definition {
  clear: left;
}

.day,
.river-name,
.river-definition {
  float: left;
  margin-right: 1em;
  margin-top: 0.5em;
}

.river-description {
  display: none;
  margin-top: 0.5em;
  color: #D47D00;
  margin-left: 1em;
}
.river-location,
.river-description {
  clear: both;
}

.river-link {
  margin-top: .5em;
  align-content: left;
}
.citation,
.river-link {
  clear: both;
}

/*.river-description {
  display: none;
  clear: both;
  margin-top: 0.5em;
  color: #D98C00;
}*/


/* ===== Responsive Media ====*/
/*img, audio, video {*/
/*  display: block;
  border: 20em;
  padding: 1em; /* 36px */
/*max-width: 15%;*/
/*}*/




/* ===== LAYOUT STYLES ===== */
/* Horizontal Layout #id selectors
    display, ex float; clear; position; right, left; top, bottom;
    margins, padding*/


/* ===== MODULAR STYLES ===== */
/* examples: rounded corners, red background, shadow, usually class selectors */
/*form li {
  margin-bottom: 1em;
}*/


/* ===== STATE STYLES ===== */
/* media queries, state ex. nojs (has is (isActive, Inactive)) */


/* 340 @ 16px/em (21.25em) */
@media screen and (min-width: 21.25em) {

}
